{% extends 'layout.html' %}
{% block body %}
    <h1>Nastran </h1>
    <div class="t-grid"> 
        <div class="t-grid-row">
            <div class="t-grid-cell t-content"><h4>Case</h4></div>
            <div class="t-grid-cell t-content"><h4>Date</h4></div>
            <div class="t-grid-cell t-content"><h4>User</h4></div>
            <div class="t-grid-cell t-content"><h4>Status</h4></div>

        </div>
        {% for case in nastran_cases %}
        <div class="t-grid-row">
            <div class="t-grid-cell t-content t-first"><p>{{case.name}}</p></div>
            <div class="t-grid-cell t-content t-second"><p>{{case.date}}</p></div>
            <div class="t-grid-cell t-content t-third"><p>{{case.user}}</p></div>
            <div class="t-grid-cell t-content-img">
                {% if case.state == 'Running' %}
                    <div class="media">
                        <img class="img-responsive" src="{{ url_for('static', filename ='running_robot.gif')}}" >
                    </div>
                {% elif case.state == 'Waiting' %}
                    <div class="media">
                        <img class="img-responsive" src="{{ url_for('static', filename ='sleeping.gif')}}" >
                    </div>
                {% elif case.state == 'Success' %}
                    <div class="media">
                        <img class="img-responsive" src="{{ url_for('static', filename ='carnaval.gif')}}" >
                    </div>
                {% else %}
                    <div class="media">
                        <img class="img-responsive" src="{{ url_for('static', filename ='fire.gif')}}" >
                    </div>                
                {% endif %}       
            </div>
        </div>

        {% endfor %}
    </div>

    {% if 'logged_in' in session %}
        <a href="/register" class="btn btn-primary btn-lg">Load Case</a>
    {% endif %}

{% endblock %}